.header
  = render 'shared/header'
  - breadcrumb :category_list
  = breadcrumbs pretext: "カテゴリ一覧", separator: " &rsaquo; "

  
.body
  .category-body
    .category-list-top
      カテゴリー一覧
    .toy-hobby-goods
      おもちゃ・ホビー・グッズ
    .toy-hobby-goods__all
      すべて
      .toy-hobby-goods__character
        キャラクターグッズ
.footer
  = render 'shared/footer'

.exhibit 
  = render 'shared/exhibit'