.body__buy__top__status
  .body__buy__top__status__box
    .body__buy__top__status__box__key カテゴリー
    .body__buy__top__status__box__value 音楽
  .body__buy__top__status__box
    .body__buy__top__status__box__key ブランド
    .body__buy__top__status__box__value
  .body__buy__top__status__box
    .body__buy__top__status__box__key 商品の状態
    .body__buy__top__status__box__value 新品、未使用
  .body__buy__top__status__box
    .body__buy__top__status__box__key 配送料の負担
    .body__buy__top__status__box__value 送料込み（出品者負担）
  .body__buy__top__status__box
    .body__buy__top__status__box__key 配送の方法
    .body__buy__top__status__box__value 投げつける
  .body__buy__top__status__box
    .body__buy__top__status__box__key 配送元地域
    .body__buy__top__status__box__value 福岡
  .body__buy__top__status__box
    .body__buy__top__status__box__key 発送日の目安
    .body__buy__top__status__box__value 翌日