.product-show-body__buy__top__status
  .product-show-body__buy__top__status__boxs
    .product-show-body__buy__top__status__boxs__key 出品者
    .product-show-body__buy__top__status__boxs__value
      %p.top 枝尾
      .product-show-body__buy__top__status__boxs__value__down
        .product-show-body__buy__top__status__boxs__value__down__evalution
          = fa_icon 'smile-o', class: "good"
          %p.count 10
        .product-show-body__buy__top__status__boxs__value__down__evalution
          = fa_icon 'meh-o', class: "normal"
          %p.count 1000
        .product-show-body__buy__top__status__boxs__value__down__evalution
          = fa_icon 'frown-o', class: "bad"
          %p.count 10
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key カテゴリー
    .product-show-body__buy__top__status__box__value-category 
      %p 家電・スマホ・カメラ
      %p >オーディオ機器
      %p >マイク
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key ブランド
    .product-show-body__buy__top__status__box__value
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 商品の状態
    .product-show-body__buy__top__status__box__value 新品、未使用
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 配送料の負担
    .product-show-body__buy__top__status__box__value 送料込み（出品者負担）
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 配送の方法
    .product-show-body__buy__top__status__box__value 投げつける
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 配送元地域
    .product-show-body__buy__top__status__box__value-area 福岡
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 発送日の目安
    .product-show-body__buy__top__status__box__value 翌日