.logout
  .logout-contents
    %form
      .logout-content
        .logout-content__font
          .logout-content__font__btn
            = link_to destroy_user_session_path, :method => :delete, class: "logout-content__font__btn--text" do
              ログアウト