.header-bar
  %ul
    %li 
      = link_to "", "https://www.mercari.com/jp/", class: "header-bar__list"        
      %span メルカリ
      = fa_icon "angle-right", class: "header-bar--icon"
    %li
      %span マイページ
        