.body__contents
  .body__contents__title
    %p 人気のブランド
    %a シャネル
    %a ルイヴィトン
    %a シュプリーム
    %a ナイキ
  .body__contents__view
    - 4.times do |i|
      %p.title 新着 アイドル
      - @brands.each do |brand|
        .body__contents__view__product
          .body__contents__view__product__box
            .body__contents__view__product__box__image
              - @photos.each do |photo|
                - if brand.id == photo.product_id
                  = link_to image_tag(photo.image_url, class: "body__contents__view__product__box__image__image-content")
                  - break
            .body__contents__view__product__box__text
              = brand.name
            .body__contents__view__product__box__value
              = "¥#{brand.price.to_s(:delimited, delimiter: ',')}"