.body__contents
  .body__contents__title
    %p 人気のカテゴリー
    %a レディース
    %a メンズ
    %a 家電・スマホ・カメラ
    %a おもちゃ・ホビー・グッズ"
  .body__contents__view
    - 4.times do |i|
      %p.title 新着 雑品
      - @categorys.each do |category|
        .body__contents__view__product
          .body__contents__view__product__box
            .body__contents__view__product__box__image
              = link_to image_tag(category.image, class: "body__contents__view__product__box__image__image-content")
            .body__contents__view__product__box__text
              = category.name
            .body__contents__view__product__box__value
              = "¥#{category.price.to_s(:delimited, delimiter: ',')}"