.body__contents
  .body__contents__title
    %p 人気のカテゴリー
    %a レディース
    %a メンズ
    %a 家電・スマホ・カメラ
    %a おもちゃ・ホビー・グッズ"
  .body__contents__view
    - 4.times do |i|
      %p.title 新着 ダミーヘッドマイク
      - 5.times do |i|
        .body__contents__view__product
          .body__contents__view__product__box
            = link_to making_index_path(:id) do
              = image_tag(src = "https://i.gyazo.com/e636e99ac0c0a823788221d5ceb3ba67.png", class: "body__contents__view__product__box__image") 
              %a.text ダミーヘッドマイク
              %a.value ¥1,000,000