.product-show-body__other__contents
  .product-show-body__other__contents__title
    %p 音楽　その他の出品
  .product-show-body__other__contents__view
    .product-show-body__other__contents__view__product
      - @photos.each do |photo|
        .product-show-body__other__contents__view__product__box
          = link_to image_tag(photo.name, size: '220x220', class: "product-show-body__other__contents__view__product__box__image")
          %p.text ALTER EGO【豪華盤】
          .product-show-body__other__contents__view__product__box__bottom
            %p.price ¥3,301
            .product-show-body__other__contents__view__product__box__bottom__good
              = fa_icon "heart-o"
              %p.value 10