.body__buy__top__photo
  .body__buy__top__photo__view
    = image_tag (@photos.first.name), class: "product-show-body__buy__top__photo__view__image"
  .body__buy__top__photo__select
    - @photos.each do |photo|
      = image_tag (photo.name), class: "product-show-body__buy__top__photo__select__mini-image"