.body{
  &__screen{
  width: 100%;
  text-align: center;
  line-height: 260px;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 50px;
}
  &__contents{
    &__title{
      text-align: center;
      margin: 30px auto 30px;
      p{
        font-size: 32px;
        font-weight: bold;
      }
      a{
        height: 40px;
        font-size: 15px;
        background-color: #eee;
        border-radius: 15px;
        padding: 5px;
      }
    }
    &__view{
      background-color: #eee;
      padding: 25px 240px 80px;
      font-weight: bold;
      .title{
        margin-left: 10px;
      }
      &__product{
        display: inline-block;
        &__title{

          margin-left: 20px;
        }
        &__box{
          width: 160px;
          min-height: 220px;
          background-color: #FFF;
          border: 1px solid gray;
          margin: 10px;

          &__image{
            width: 160px;
            height: 180px;
            border-bottom: 1px solid gray;

            &__image-content{
              height: 220px;
              max-width: 160px;
              object-fit: cover;
              background-size: cover;

            }

          }
          &__text{
            height: 40px;
            width: 152px;
            border-top: solid 1px #000;
            background-color: #FFF;
            color: #000;
            font-weight: 100;
            font-size: 10px;
            text-align: left;
            padding: 4px;
            position: relative;
          }

          &__value{
            background-color: #666;
            opacity: 0.9;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            border-top-right-radius : 12px;
            border-bottom-right-radius : 12px;
            color: #fff;
            font-size: 16px;
            padding: 2px;
            position: relative;
            float: left;
            bottom: 70px;
          }
      } 
      }
      
    }
  }
}