.product-show-body{

  &__other{
    width: 680px;
    margin: 0 auto;

    &__contents{
      margin: 0 25px;
      &__title{
        text-align: center;
        margin: 30px auto 30px;
        color: #09f;

        p{
          font-size: 32px;
          font-weight: bold;
        }
        a{
          height: 40px;
          font-size: 15px;
          background-color: #eee;
          border-radius: 15px;
          padding: 5px;
          text-decoration: none; 
          color: #09f;
        }

      }

      &__view{
        font-weight: bold;
        display: flex;
        margin: 10px;

        .title{
          margin-left: 10px;
        }

        &__product{
          display: flex;
          flex-wrap: wrap;
          &__title{
            margin-left: 20px;
          }

          &__box{
            background-color: #FFF;
            border: 1px solid gray;
            width: 180px;
            margin: 10px;
            &__image{
              width: 180px;
              border-bottom: 1px solid gray;

            }

            .text{
              height: 32px;
              width: 180px;
              color: #000;
              font-weight: 100;
              font-size: 14px;
              text-align: left;
              padding: 4px;
            }
;
            &__bottom{
              display: flex;
              justify-content:space-between;
              margin: 0 5px 5px;
              .price{
                margin-right: 5px;
              }
              &__good{
                display: flex;
                font-size: 12px;
                color: #999;
              }
            }
          } 
        }        
      }
    }
  }
}
