.product-buy-body{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
  padding: 30px 0;
  &__box{
    width: 350px;
    border: solid #eee;
    border-width: 0 0 1px 0;
    margin: 0 auto;
    padding: 20px 0;

    &__title{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  
    &__product{
      height: 100px;
      margin: 0 auto;
      display: flex;
  
      &__left{
  
        &__image{
          height: 80px;
          border:solid 1px #aaa;
        }
      }
  
      &__right{
        min-height: initial;
        margin-left: 10px;
        height: 0px;

        &__top{
          margin: 5px 0;
        }
        &__bottom{
          margin: 10px 0;
          font-weight: bold;
        }

      }
  
    }
  
    &__value{
        
      &__top{
        display: flex;
        font-weight: bold;
        justify-content: space-between;

        p.left{
          font-size: 18px;
        }
        p.right{
          font-size: 28px;
        }

      }
      &__bottom{
        display: flex;
        color: #aaa;
        font-size: 24px;

        p.text{
          margin-left: 5px;
        }

      }

      }
  
    &__card{

        &__title{
          display: flex;
          justify-content: space-between;

          p.left{
            font-weight: bold;
          }
          p.right{
            color: #09f;
          }

        }
        &__content{

          &__image{
            height:18px;
          }
        }
  
    }
  
    &__address{

      &__title{
        display: flex;
        justify-content: space-between;

        p.left{
          font-weight: bold;
        }
        p.right{
          color: #09f;
        }

      }
  
    }
    
    &__only{
      color: #f00;
    }
  
    &__btn{
      background-color: #aaa;
      height: 48px;
      width: 350px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      line-height: 48px;
      margin: 0 auto;
    }

    &__application{

      &__logo{
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 30px;
        &__mark{
          margin: 5px;
        }
      }

    }
  }
}
  

