.body{

  background-color: #eee;
  padding: 20px 0;

  &__buy{
    background-color: #fff;
    width:600px;
    margin: 10px auto;
    padding: 0 10px;

    &__title{
      font-size:24px;
      font-weight: bold;
      text-align: center;
    }

    &__top{

      display: flex;

      &__photo{
        background-color: #eee;

        &__view{
          &__image{
            height: 330px;
          }
        }
        &__select{
          display: flex;

          &__mini-image{
            width: 60px;
          }
        }
      }

      &__status{
        &__box{
          display: flex;
          height: 60px;
          &__key{
            width: 100px;
            border: 1px solid gray; 
            background-color:#eee;
          }
          &__value{
            width: 180px;
            border: 1px solid #eee; 
          }
        }
      }
    }

    &__price{
      text-align: center;
      .value{
        font-size: 48px;
      }
      .describe{
        font-size: 16px;
      }
    }

    &__btn{
      background-color: #f00;
      height: 64px;
      width: 600px;
      font-size: 32px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      line-height: 64px;
    }

    &__description{
      width: 600px;
      font-size: 18px;
      margin-top: 50px;
    }

    &__comment{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &__left{
        display: flex;
        &__text{
          display: flex;
          background-color: #eee;
          border-radius: 10px;
          margin: 10px;
        }
      }
    }
  }

  &__message{
    background-color: #fff;
    width: 625px;
    margin: 20px auto;
    padding: 10px 0 ;

    .alert{
      width: 600px;
      background-color: #fd6;
      border-radius: 5px;
      padding: 5px;
      margin: 10px;
    }

    .form{
      margin: 10px;
      
      .message-form{
        height: 100px;
        width: 600px;
        border: 1px solid #eee;
      }

    }

    .btn{
      background-color: #ddd;
      height: 64px;
      width: 600px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      line-height: 64px;
      margin: 10px;
    }

  }

  &__sns{
    background-color: #fff;
    font-size: 32px;
    display: flex;
    height: 150px;
    width: 625px;
    margin: 0 auto;

    .facebook{
      margin: 0 10px;
      color: #00f;
    }
    .twitter{
      margin: 0 10px;
      color: #33f;
    }
    .pinterest{
      margin: 0 10px;
      color: #f00;
    }
  }
  
}