.header

.body
  .body__buy
    .body__buy__title
      yuni clear color 初回生産限定盤
    .body__buy__top
      .body__buy__top__photo
        .body__buy__top__photo__view
          
        .body__buy__top__photo__select
      .body__buy__top__status
    .body__buy__value
    .body__buy__btn
    .body__buy__description
    .body__buy__good
  .body__message
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .body__sns
    = link_to "https://twitter.com/", class: "footer__message__left__contents__logo" do
      = icon('fab', 'twitter')
    = link_to "https://www.facebook.com/", class: "footer__message__left__contents__logo" do
      = icon('fab', 'facebook-square')
  .body__other
    .body__other__person
      枝尾さんのその他の出品
    .body__other__category
      アニメ （本・音楽・ゲーム） その他の商品
.footer