= render partial: "signup/common-header"

.wrapper
  .body
    .body__title
      購入内容の確認
    .body__product
      .body__product__left
        = image_tag src = "https://i.gyazo.com/e636e99ac0c0a823788221d5ceb3ba67.png", class: "body__product__left__image"
      .body__product__right
        .body__product__right__top
          ダミーヘッドマイク
        .body__product__right__bottom
          ¥1,000,000（税込）送料込み
    .body__value
      .body__value__top
        %p.left 支払金額
        %p.right ¥1,000,000
      .body__card__bottom
        %a.check
        %p.text
    .body__card
      .body__card__top
        .body__card__top__left
          %p.title クレジットカード
          %p.card ****************2019
          %p.limit 有効期限　明後日
          %a.image master card
        .body__card__top__right
          変更する
    .body__address
      .body__address__left
        火星県南半球市東大陸町3-1-4 オリンポス山５９２６号室 
      .body__address__right
        変更する
    .body__btn
      購入する

= render partial: "signup/common-footer"