.payment{
  float: right;
  width: 700px;
  height: 364px; 
  background-color: #fff;

  .payment-content{
    margin: 0;

    &__ment {
    font-size: 24px;
    padding: 8px 24px;
    height: 33px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    line-height: 37px;
    font-weight: 600;
    }
    .payment-box{
      padding: 64px;

      &__list{
        height: 129px;

        &__card  {
          max-width: 320px;
          margin: 0 auto; 
                 
          &__font {
            font-size: 16px; 
            font-weight: 600;
          }
        }
        .payment-box__list__content {
          border-bottom: 1px solid #eee;
          
          &__box{
            padding: 24px 0;           
            height: 64px;

            &__form{
              height: 100%;
              margin: 0 125px; 
              position: relative;
              max-width: 320px;
              margin: 0 auto;
              
              &__image{
                margin: 0 auto;
              }

              .card-nunber{
                margin: 8px 0 0;
                font-size: 16px;  
              }
              
              .card-date{
                margin: 8px 0 0;
                font-size: 16px;
              }
              
              button.payment-delete{
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px 6px;
                background: #fff;
                border-radius: 3px;
                border: 1px solid #ea352d;
                color: #ea352d;
                font-size: 14px;
              }
            }
          }
        }
      }
      .payment-method{
        text-align: right;
        color: #0099e8;
        
        &__list{
          display: block;
          margin: 40px 0 0;
            
          &--icon{
            margin: 0 0 0 8px
          }
        }
      }
    }
  }
}
  