.wrapper {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  
  
  .header {
    font-family: Arial,æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“,YuGothic,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,sans-serif;
    font-weight: 500;
    position: relative;
    z-index: 1001;
    background: #fff;
    .header-inner {     
      width: 1020px;   
      margin: 0 auto;
      padding: 8px 0 0;
      height: 92px;
      .header-inner-top{       
        display: flex;
        .search-form {
          position: relative;
          margin-left: 45px;
          width: 100%;
          &__input {
            background: #eee;
            width: 789px;
            height: 38px;
            padding: 0 40px 0 10px;
            border-radius: 4px;
            border-style: none;
            border: 1px solid #ccc;            
          }
          &__icon {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
          }
          :before{
            font-size: 14px;
          }
        }
      }
      
      .header-menu{
        margin: 8px 0 0;
        height: 44px;
        .header-left{
          display: flex;
          float: left;        
          &__menu{
            color: #333;
            height: 44px;
            line-height: 32px;
            padding: 0 11px;
          &:first-child{
            padding-left: 0;        
          } 
          &:last-child{
            padding-right: 0;
          } 
          span{
            font-weight: 700;
            font-size: 14px;
          }
            &--btn{
              color: #333333;
              font-size: 14px;
              text-decoration: none;
              font-weight: 700px;
              
            }
            &--icon{
              color: red;
              font-size: 14px;
              display: inline-block;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              margin-right: 4px;
            }         
          }  
        }
        
        .header-right{  
          float: right;
          height: 44px;
          
          .header-link{
            position: relative;
            display: block;
            height: 44px;
            line-height: 32px;
            font-size: 0;
            color: #333;
                            
          }              
          &__menu{
            display: flex;
            float: left;
            height: 44px;

            li{
              padding: 0 14px;
            }
            li:first-child{
              padding-left: 0; 
            }
            li:last-child{
              padding-right:0;
              position: relative;
              display: inline-block;
              line-height: 32px;
              border-radius: 50%;
            }
            img{
              border-radius: 50%;
              float: left;
            }
            
            &--icon{
              font-size: 20px;
              color: #ccc;            
            }
            span{
              margin-left: 10px;
              font-size: 14px;
              line-height: 32px;
            }
            
          }
        }
      }  
    }
  }






  .header-bar {
    position: relative;
    border-top: 1px solid #eee;
    background: #f5f5f5;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    ul {
      overflow: visible;
      margin: 0 auto;
      width: 1020px;
      padding: 16px 0;
      line-height: 1.2;
      li {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        font-size: 14px;
        .header-bar--icon{
          margin: 0 8px;
          font-size: 16px;
          color: #888;
        }
      }
    }   
  }  


  
  .main {
    margin: 40px auto 0;
    width: 1020px;
    height: 1232px;
    padding: 0 0 40px;
    
    .right-content{
      width: 700px;
      
      float: right;
      .mypage-icon{
        position: relative;        
        padding: 20px;
        background-image: url(https:/www.mercari.com/jp/assets/img/mypage/user-bg.jpg?1326854);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center; 
        height: 160px;     
        a {
          display: block;
          position: absolute;         
          top: 50%;
          left: 0;
          right: 0;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          color: #333;
          figure{
            overflow: hidden;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
          }
          h2{
            margin: 8px 0 0;
            font-size: 14px;
            font-weight: 600px;
            line-height: 1.4;
          }
          .mypage-number{
            margin: 8px 0 0;
            font-size: 0;    
            div{
              display: inline-block;
              font-size: 14px;
              margin: 0 0 0 16px;
            }  
              div:first-child{
                margin: 0;
              }               
                span.bold{
                  margin: 0 0 0 8px;
                  font-size: 14px;                 
                }           
          }      
        }
      }

      .mypage-list {       
        margin: 0;
        background: #fff;                
        &__tag{
          border: 0;
          background: #eee;
          font-size: 0;
          &__tags{
            height: 74px;
            
            border: 0;
            background: #eee;
            font-size: 0;
            list-style: none;
            &__left{
              display: inline-block;
              text-align: center;
              vertical-align: top; 
              width: 50%;  
              background: #fff;   
              h3{
                font-size: 22px;   
                font-weight: bold;         
                a{
                  border-top: 2px solid #ea352d;
                  display: block;
                  color: #333;
                  font-size: 16px;
                  line-height: 72px;
                  text-decoration: none;   
                }
              }        
            }
            &__right{
              display: inline-block;
              text-align: center;
              vertical-align: top; 
              width: 50%;   
              h3{
                font-size: 22px;   
                font-weight: bold;
                font-size: 16px;
                line-height: 72px;
                text-align: center;
              }
            }
          }
        } 
        
        .mypage-content{ 
          
          ul.mypage-content-list{
            display: block;          
            li{
              border-bottom: 1px solid #eee;
              position: relative;
              a.mypage-content-list__block{ 
                display: block;
                height: 48px;
                padding: 16px;
                color: #333;            
                figure{
                  position: relative;
                  overflow: hidden;
                  float: left;
                  width: 48px;
                  height: 48px;
                  margin: 0 0 0 0;
                }  
                  .mypage-content-list img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                  }                 
              .mypage-content-list__block__text{
                overflow: hidden;
                display: block;
                display: -webkit-box;
                max-height: 4.4em;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                line-height: 1.5;
                margin: 0 40px 0 68px;               
                .fa-clock-o::before{
                  margin: 0 8px 0 0;
                  font-size: 20px;
                  
                  
                }              
              }  
                .chevron-right {
                  position: absolute;
                  top: 50%;
                  right: 16px;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                }                           
              }           
            }  
            .mypage-chart{
              padding: 16px;            
              a{
                display: block;
                height: 56px;
                margin: 0 auto;
                background: #eee;
                color: #333;
                line-height: 56px;
                text-align: center;
                text-decoration: none; 
              }          
            }
          }  
        }        
      } 
      .mypage-under-tab{
        margin: 40px 0 0;
        background: #fff;
        height: 382px;
        h2{
          font-size: 22px;
          font-weight: bold;

          padding: 0 16px;
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
          .mypage-list__tag__tags{          
            &__left{
              display: inline-block;
              text-align: center;
              vertical-align: top; 
              width: 50%;  
              background: #fff;   
              h3{
                font-size: 22px;   
                font-weight: bold;         
                a{
                  border-top: 2px solid #ea352d;
                  display: block;
                  color: #333;
                  font-size: 16px;
                  line-height: 72px;
                  text-decoration: none;   
                }
              }        
            }
            &__right{
              display: inline-block;
              text-align: center;
              vertical-align: top; 
              width: 50%;   
              h3{
                font-size: 22px;   
                font-weight: bold;
                font-size: 16px;
                line-height: 72px;
                text-align: center;
              }
            
            }
          } 
          .mypage-under-content{
            background-color: red;
            &__boxes{
              padding: 160px 0 60px;
              background: url(/jp/assets/img/common/common/logo-gray-icon.svg?72727103);
              background-repeat: no-repeat;
              background-position: center 40px;
              background-size: 78px 85px;
              text-align: center;
              font-size: 16px;
              color: #ccc;
            }
          }
        }
        .mypage-under-content{
          
          &__boxes{
            padding: 160px 0 60px;
            background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?72727103);
            background-repeat: no-repeat;
            background-position: center 40px;
            background-size: 78px 85px;
            text-align: center;
            font-size: 16px;
            color: #ccc;
          }
        }  
      }       
    } 
  }




  .left-content{
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    height: 1252px;
    &__bar{
      height: 100%;
      &__list{
        height: 100%;
        position: relative;
        &__item{          
          background: #eee;
          font-weight: 600;
          padding: 17px;
          position: relative;
          border-top: 1px solid #eee; 
          border-bottom: 1px solid#eee;       
          &--icon{
            position: absolute;
            right: 16px;
            color: #ccc;
          }
          &__side{
            position: relative;
            padding: 17px;
            background: #fff;
            font-size: 14px;
            color: #333;
            border-bottom: 1px solid #eee;
            } 
            &__side:last-child{
            border-bottom: 0;
            }
          
        }
      }
    }

    
  }
  .left-center-content{
    margin: 40px 0 0;
    font-size: 16px;
    font-weight: bold;
  }  
  .left-center-content + .left-content__bar__list__item__side {
    margin-top: 8px;
  }
  
  
}
