.details-content  
  .details-box
    %h1 商品の編集
  .details-box__which  
    %p or
  .details-box
    %h1 出品を再開する
  .delete
    %p
      = link_to product_path(@product.id), method: :delete, data: { confirm: "削除しますか？" } do
        この商品を削除する